.Header {
  background-color: red;
  margin: 0;
  padding: 0;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  background-image: url("https://image.flaticon.com/icons/svg/738/738649.svg");
  width: 50px;
  height: 50px;
  margin-left: 3vw;
  background-repeat: no-repeat;
}

.new-icon {
  background-image: url("https://image.flaticon.com/icons/svg/230/230330.svg");
  width: 50px;
  height: 50px;
}

h1 {
  margin: 0 0 0 1vw;
}

.Header a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav a {
  margin: 0 3vw 0 0;
  font-size: 1.2em;
  font-weight: 800;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.2em;
  }

  .icon {
    margin-left: 1vw;
    width: 40px;
    height: 40px;
  }

  nav a {
    font-size: .9em !important;
    margin: 0 1vw 0 0 !important;
  }

  .new-icon {
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
  }
}