.Header {
  background-color: red;
  margin: 0;
  padding: 0;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header > a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon {
  background-image: url("https://image.flaticon.com/icons/svg/738/738649.svg");
  width: 50px;
  height: 50px;
  margin-left: 3vw;
}

h1 {
  margin: 0 0 0 1vw;
}

.Header a {
  text-decoration: none;
  color: white;
}

nav a {
  margin: 0 3vw 0 0;
  font-size: 1.2em;
}